<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZHIVULA.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
            type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false"/>
    </configSections>
  <!--Строка подключения к базе данных
  <connectionStrings>
    <add name="DbConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=PM;Integrated Security=SSPI;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <ZHIVULA.Properties.Settings>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CountWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FontName" serializeAs="String">
                <value />
            </setting>
            <setting name="Position_1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Position_2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Position_3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Position_4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Position_5" serializeAs="String">
                <value>0</value>
            </setting>
        </ZHIVULA.Properties.Settings>
    </userSettings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
</configuration>